<div class="container">
  <div class="contact-list">
    <h2>Contacts</h2>
    <app-user-search (userAdded)="addContact($event)"></app-user-search>
    <app-contacts [contacts]="contacts" (contactSelected)="onContactSelected($event)"></app-contacts>
  </div>  

  <div *ngIf="!selectedContactId">
    <div class="chat-box">
      <h2>No contact selected</h2>
    </div>
  </div>

  <div *ngIf="selectedContactId">
    <h2>Messages with {{ selectedContactId }}</h2>
    <div class="chat-container">
      <div class="chat-box">
        <div *ngFor="let message of messages">
          <div class="message received">
            {{ message.content }}
          </div>
        </div>

        <div class="message-input">
          <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage" name="newMessage">
          <button type="button" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
