<header class="header">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">Profile</a>
    <a routerLink="/login" routerLinkActive="active" *ngIf="!(auth.isAuthenticated$ | async)">Login</a>
    <a routerLink="/signup" routerLinkActive="active" *ngIf="!(auth.isAuthenticated$ | async)">Register</a>
    <span *ngIf="auth.isAuthenticated$ | async">Logged in</span>
  </nav>
  <main class="main">
    <input
      type="text"
      placeholder="Search for restaurants..."
      class="input"
    />
    <button class="button">Search</button>
    <div class="results">
    </div>
  </main>
</header>
