<header class="header">
  <div class="search">
    <h2 class="title">Study helper</h2>
    <!-- Votre barre de recherche et autres éléments ici -->
    <app-recherche></app-recherche>
    <div>
      <button class="button">Search</button>

      <!-- Bouton de login/logout -->
      <button class="button" id="boutonlogin" *ngIf="!isconnected" routerLink="/login" routerLinkActive="active">Login</button>
      <button class="button" (click)="logout()" *ngIf="isconnected" routerLink="/logout" routerLinkActive="active">Logout</button>
    </div>
  </div>

  <!-- Navigation -->
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/mes-cours" routerLinkActive="active">Mes Cours</a>
    <a [routerLink]="['/message', '' ]" routerLinkActive="active">Mes messages</a>
  </nav>

  <!-- Image de profil -->
  <div class="profile-picture" *ngIf="isconnected">
    <img [src]="profilePictureUrl" alt="Profile Picture">
  </div>
</header>
