.profile-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 1em;
  padding: 1em;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items:end;
  justify-content: center;
  margin-bottom: 2em;
}


.userImg {
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.user-data-form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.user-info {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.user-info > div {
  margin: 0.5em 0;
  text-align: left;
}

.submit-user {
  padding: 0.5em;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25em;
}

input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: fit-content;
}

.contact-but {
  background-color: var(--accent-color);
  color: white;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.5em;
}

.contact-but:hover {
  background-color: var(--accent-color-hover);
  cursor: pointer;
}
