<div class="profile-container">
  <div *ngIf="userInfo else noUserInfo" class="user-info">
    <div class="profile-header">
      <img ngSrc="userInfo.profile_picture" alt="User Image" class="userImg">
      <h2>Welcome to your profile <span>{{ userInfo.first_name}} {{userInfo.last_name}}</span>!</h2>
    </div>
    <ul>
      <li><strong>Email:</strong> {{ userInfo.email }}</li>
      <li><strong>Username:</strong> {{ userInfo.username }}</li>
      <li><strong>Bio:</strong> {{ userInfo.bio }}</li>
      <li><strong>Role:</strong> {{ userInfo.role }}</li>
      <li><strong>Here since:</strong> {{ userInfo.created_at }}</li>
    </ul>
  </div>
  <ng-template #noUserInfo>
    <p>No user information found!</p>
  </ng-template>
  <!-- Rest of your HTML code -->
</div>
