.user-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 1em;
  padding: 1em;
}

h2 {
  margin: 0;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items:end;
  justify-content: center;
  margin: 0;
  margin-bottom: 2em;
}


.userImg {
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.user-data-form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.user-info {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 0;
  padding: 0;
}

.user-info > div {
  margin: 0.5em 0;
  text-align: left;
  width: 100%;
}

.submit-user {
  padding: 0.5em 2em;
  width: fit-content;
}

.input-group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-flow: space-between;
  column-gap: 3em;
  row-gap: 1em;
}

.form-error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-decoration: underline;
}