.login-header {
  margin-bottom: 20px;
}

.login-header h2 {
  margin: 0;
}

.input-group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-flow: space-between;
  column-gap: 3em;
  row-gap: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
