.home-main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.panel {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.panel h2 {
  margin-top: 0;
}

.panel-recent-courses {
  grid-column: span 2; /* Occupe 2 colonnes */
}

.panel-popular-courses {
  grid-column: span 1; /* Occupe 1 colonne */
}
