.home-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 80%;
    margin: 2em auto;

}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* margin-top: 2em; */
    column-gap: 5em;
}

p {
    margin: 0;
    width: fit-content;
}

.best-mentors, .best-courses {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.mentor-list, .courses-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    width: calc(100% - 4em);
    margin: 0 2em;
    gap: 1em;
}

.mentor, .course {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    background-color: white;
    /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.1); */
    /* border-radius: 0.5em; */
    padding: 1em;
    height: calc(100% - 2em);   
    gap: 0.5em; 
    transition: box-shadow 0.3s;
}

.course > span {
    display: inline;
    /* white-space: nowrap; */
}

.course-description {
    color: gray;
}

.course-title {
    text-decoration: underline;
}

.mentor:hover, .course:hover {
    box-shadow: 0.1em 0.1em 1.5em rgba(0, 0, 0, 0.2);
}

.mentor .email {
    text-decoration: underline;
}

.mentor li {
    cursor: text;
}

.mentor > ul {
    padding: 0;
}

.mentor-attr {
    list-style-type: none;
}