<main class="home-main">
    <h1>Welcome to the home page</h1>
    <div class="home-container">
        <div class="best-mentors">
            <h2>Recommended tutors</h2>
            <ul class="mentor-list">
                <li *ngFor="let men of mentors" class="mentor">
                    <!-- <a [routerLink]="['/profile', par.id]">{{ par.name }}</a> -->
                    <img src={{men.profile_picture}} alt="{{men.firstname}}'s profile picture" *ngIf="men.profile_picture">
                    <ul class="mentor-attr">
                        <li>{{ men.firstname }} {{ men.lastname }}</li>
                        <li class="email">{{ men.email }}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="best-courses">
            <h2>Recommended courses</h2>
            <ul class="courses-list">
                <li *ngFor="let course of courses" class="course">
                    <!-- <a [routerLink]="['/profile', par.id]">{{ par.name }}</a> -->
                    <img src={{course.picture}} alt="{{course.name}} picture" *ngIf="course.picture">
                    <span class="course-title">{{ course.name }}</span>
                    <span class="course-description">{{ course.desc }}</span>
                </li>
            </ul>
        </div>
    </div>
</main>
