/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    --accent-color: #4CAF50;
    --accent-color-hover: #45a049;
}

.btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
    padding: 1em;
    transition: background-color 0.3s;
}
  
.btn:hover {
    background-color: var(--accent-color-hover);
    cursor: pointer;
}
