<div>
  <div class="course-header">
    <div class="course-info">
      <a [routerLink]="['/message', courinfo.teacher ] "><h2>{{ courinfo.teacher }}</h2></a>

      <h3>{{ courinfo.title }}</h3>
      <p>{{ courinfo.description }}</p>
      <div class="rating">
        <button (click)="rate(1)">☆</button>
        <button (click)="rate(2)">☆</button>
        <button (click)="rate(3)">☆</button>
        <button (click)="rate(4)">☆</button>
        <button (click)="rate(5)">☆</button>
      </div>
    </div>
  </div>
  <app-mes-document></app-mes-document>
</div>
